<style>
  .content {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
  .hidden {
    display: none;
  }
  
  </style>
  <script>
    const btn = document.querySelector(".btn");
    const content = document.querySelector(".content");

    btn.addEventListener("click", btnClick);

    function btnClick() {
      console.log(content.classList);

      if (content.classList.contains("hidden")) {
        btn.textContent = "Скрыть статью";
      }
      content.classList.toggle("hidden");
    }
  </script>
  